.skillscont{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .skillscon1{
        width: 40%;
        height: 380px;
        color: white;
        background: linear-gradient( #969595 , #4B3764, #4B3764);
        margin-top: 20px;
        border-radius: 10px;
    }
}
.skpcov{
    display: flex;
    .skprc{
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
    height: 130px;
    border-radius: 50%;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-top: 5px solid white;
    border-right: 2px solid black;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    }
    .skp{
        width: 70%;
        display: flex;
        align-items: center;
    }
}
.sklsinfoo{
    width: 90%;
    margin: auto;
    margin-top:10px ;
    font-size: 13px;
}